<div id="main-content">
    <h2>Bucket Suggestion</h2>
    <form *ngIf="bucketsData.length == 0" class="post-form" (submit)="submitForm()">
        <div class="form-group" *ngFor="let item of ballData?.data">
            <label>{{item.color}}</label>
            <input type="text" name="{{item.color}}" [(ngModel)]="formData[item.id]"
                [ngModelOptions]="{ standalone: true }" />
            <!-- formData[item.color] -->
        </div>
        <input class="submit" type="submit" value="Save" />
    </form>

    <div *ngIf="bucketsData.length != 0" class="post-form">
        <p *ngFor="let item of bucketsData">{{item}}</p>
        <button class="create_new" (click)="reload()">Reload</button>
    </div>

    <h1 *ngIf="errorData" style="color: red;">{{errorData.error}}</h1>
</div>